<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  verbose="0" name="TegaAdmin test automation suit">
     <test name="Emterprise Admin User Creation" preserve-order="true">
		<classes>
			<class name="com.org.ishir.test.TegaAdmin"></class>
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->